body {
    background: #003366;
    padding-right: 0.3%;
}

label {
    color: #8ec6d3;
    cursor: default;
    margin-left: 18%;
    text-shadow: #67909C;
    font-family: 'Fira Mono', monospace;
    font-size: 24px;
}

.center {
    display: table;
    margin: auto auto auto auto;
    width: 100%;
}

#widebox {
    width: 99%;
    height: max-content;
    background: #00274f;
    padding: 12px -3px;
    border: 1px solid #001937;
    font-size: 92px;
    border-radius: 20px;
    text-align: center;
}

.wide_textbox {
    display: table;
    margin: auto auto auto auto;
    color: #8ec6d3;
    background: #00274f;
    padding: 0 12px;
    text-shadow: #67909C;
    font-family: 'Fira Mono', monospace;
    font-size: 32px;
    width: 65%;
    height: 250px;
    border: 2px solid #001937;
    border-radius: 20px;
}

#info {
    color: #8ec6d3;
    cursor: default;
    text-shadow: #67909C;
    font-family: 'Fira Mono', monospace;
    font-size: 48px;
}

#mini_info {
    color: #8ec6d3;
    cursor: default;
    text-shadow: #67909C;
    font-family: 'Fira Mono', monospace;
    font-size: 24px;
}

a {
    color: #8ec6d3;
    text-shadow: #67909C;
}

a:visited {
    color: #8ec6d3;
    text-shadow: #67909C;
}

a:hover {
    color: #8ec6d3;
    text-shadow: #67909C;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 99%;
    color: #003366;
    background: #00274f;
    cursor: default;
    padding-top: 3px;
    border-style: solid;
    border-color: #001937;
    border-width: 1px;
    border-bottom-width: 0;
    border-radius: 2px 2px 0 0;
    text-align: center;
    font-family: 'Fira Mono', monospace;
}
