body {
    background: #003366;
}

.center {
    margin: auto;
}

.widebox {
    width: 100%;
    background: #00274f;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #001937;
    border-radius: 20px;
    text-align: center;
}

.box {
    display: inline-block;
    justify-content: center;
    background: #00274f;
    border: 1px solid #001937;
    border-radius: 20px;
    padding: 10px;
}

.profileicon {
    cursor: pointer;
    background: #00274f;
    margin: 8px;
    padding: 12px;
    border-radius: 6px;
    max-height: 42px;
    max-width: 42px;
}

.profileicon:hover {
    background: #003366;
    margin: 8px;
    padding: 12px;
    border-radius: 6px;
}

.projecticon {
    cursor: pointer;
    background: #00274f;
    margin: 5px;
    padding: 8px;
    border-radius: 4px;
    max-height: 30px;
    max-width: 30px;
}

.projecticon:hover {
    background: #003366;
    margin: 5px;
    padding: 8px;
    border-radius: 4px;
}

#url {
    color: #8ec6d3;
    cursor: default;
    text-shadow: #67909C;
    font-family: 'Fira Mono', monospace;
    font-size: 72px;
}

#profiles {
    display: table;
    margin: 5% auto auto auto;
}

#projects {
    display: table;
    margin: 5% auto auto auto;
}
